<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a href="{{ page.url }}" class="navbar-brand d-flex align-items-center">
    <img src="/m15-recipes/assets/images/noun_cooking_2210072-icon.png" style="width:20px; margin-right: 10px;" />
    <strong>Cooking with HTML</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.navigation %}
      	<li class="nav-item {% if page.url == item.link %}active{% endif %}">
	    	<a class="nav-link" href="{{ item.link | prepend:site.baseurl }}" target="{{item.target}}">{{ item.name }}</a>
	    </li>
	  {% endfor %}
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>