.navbar h2 {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}
.navbar-collapse {
    flex-grow: 0;
}


.jumbotron h1, .card-body h2 {
  font-family: 'Cabin Condensed', sans-serif;
}
.card-body h2 {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
  font-size: 21px;
}
.jumbotron h1, .card-body h2 a {
	color: #34749e
}
p, li {
	font-family: 'Roboto', sans-serif;
}

.row {
  justify-content: center;
}
.card {
  width: 100%;
  max-width: 650px;
}

.jumbotron {
  height: calc(100vh - 30px);
  display: flex;  
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: papayawhip;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

figure img {
	width: 100%;
}

h2.card-text.headline {
	font-size: 21px;
	margin-bottom: 5px;
}

p.card-text.byline {
	font-size: 15px;
	margin-bottom: 1rem;
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

@media (min-width: 576px){
	.modal-dialog {
	    max-width: 1000px;
	    margin: 1.75rem auto;
	}
}